@model IEnumerable<Bookshop.Models.NHA_CUNG_CAP>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản lý Nhà cung cấp</title>
</head>
<body>
    <div>
        @Html.ActionLink("Thêm nhà cung cấp", "AddSupplier")
    </div>
    <div>
        @foreach (var item in Model)
        {
            <hr />
            <p>Mã: <b>@item.ID_NCC</b></p>
            <p>Tên: <b>@item.Ten_NCC</b></p>
            <p>Email: <b>@item.Email</b></p>
            <p>Địa chỉ: <b>@item.DiaChi</b></p>
            <p>Số điện thoại: <b>@item.SDT</b></p>
            
            @Html.ActionLink("Sửa", "EditSupplier", new { id = item.ID_NCC.Trim() })
            <br />
            @Html.ActionLink("Xóa", "DeleteSupplier", new { id = item.ID_NCC.Trim() })
                
        }
    </div>
</body>
</html>
